html body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
    display:grid;
    grid-auto-rows: 128px 250px 200px 200px 70px;
    grid-template-areas:
    "banner"
    "header"
    "menu"
    "main"
    "footer"
    ;
}
.banner{
    width: 100%;
    height: 100%;
    background-color:aquamarine;
    background-image:url(img/Yellow\ Modern\ Food\ Promo\ Web\ Banner\ Ad.png);
    background-repeat:no-repeat;
    background-size:100% 100% ;
    background-position:center;
    grid:banner;
}
.header{
    width: 100%;
    height: 100%;
    background-color:royalblue;
    display: flex;
    justify-content:center;
    grid-area: header;


}
/*Inicio header*/
.caja1{
    width: 35%;
    height: 100%;
    background-color:rebeccapurple;
    background-image: url(img/bb5b35b7b599ecb392f4e51325943628.jpg);
    background-size: 100% 100%;
    background-position: center;
}
.caja2 {
    width: 30%;
    height: 100%;
    background-color: rgb(46, 204, 25);
    background-image:url(img/dd844630d0b270c478ef22b913309dae.jpg);
    background-size: 100% 100%;
    background-position: center;
}   
.caja3 {
    width: 35%;
    height: 100%;
    background-color: rebeccapurple;
    background-image: url(img/18b94e5f420de65724c64e70019153ab.jpg);
    background-size: 100% 100%;
    background-position: center;
}
/*final caja*/

.menu {
    width: 100%;
    height: 100%;
    background-color:blue;
    background-image: url(img/1143.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    grid-area: menu;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
/*inicio menu*/
h2 {
    color:white;
    margin: 10px;
}
p{
    color:white;
    text-align: left;
    margin:10px;
}
input {
    border-radius: 50px 50px 50px 50px;
    align-items: center;
    margin-right: 20%;
}
h1{
    color:black;
    margin: 10px 10px 10px 10px;
    text-align: center;
}
.main{
    width: 100%;
    height:100%;
    background-color: white;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    grid-area: main;
    gap: 5px;
}
/* inicio main*/
.caja4{
    width: 22%;
    height: 50%;
    background-color:yellow;
    background-image: url(img/553dd9d9bb06cfd57c8002d4f6c453e7.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.caja5 {
    width: 22%;
    height: 50%;
    background-color: rgb(255, 38, 0);
    background-image: url(img/2563e0f8f5857a14ebfcfc165c4af766.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.caja6{
    width: 22%;
    height: 50%;
    background-color: yellow;
    background-image: url(img/24d26d5d1623fdbda332e37477e8fa02.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.caja7 {
    width: 22%;
    height: 50%;
    background-color: rgb(255, 60, 0);
    background-image: url(img/769804de266676099444099501877524.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
/*final main*/
.footer{
    background-color:rgb(250, 250, 116);
    display:flex;
    flex-direction:column;
    grid-area: footer;
    align-items:center;
    justify-content: center;
}
/* inicio footer*/
h3{
    color:black;
    padding:10px 10px;
}
.red-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px;
}